gpupixel
conditions.txt
test.txt
logs
Debug
.project
.cproject
mcdata/*.dat
mcdata_old
build
build*
debug
debug*
*~
#~
.#*
CMakeFiles
CMakeCache.txt
run.sh
setup.sh
stream/sequence_setup/include/sequences/ConfiguredSequence.cuh
*pyc
